<style>
           
h1 { font-size:large; color:orange; font-family:sans-serif; border-bottom: 1px solid orange; } 
h2 { font-size:larger; color: orange; font-family: serif;  margin-left: 100px;  } 
p { font-size:large; color:black ; font-family: sans-serif; margin-left: 100px; margin-right:;} 
img { float: right; margin:0 12px;}

       </style>